/* 전체 레이아웃 */
.app-container {
    display: flex;
  }
  
  /* 왼쪽 사이드바 */
  .sidebar {
    flex: 1 1 200px;
    height: 100vh;
    border-right: 1px solid #ddd;
    padding: 16px;
    background-color: #7a6868;
  }
  
  .sidebar.compact {
    width: 80px; /* compact 버전의 너비 */
  }

  /* 메인 피드 */
  .feed {
    position: relative;
    flex: 1;
    padding: 16px;
    background-color: #e9b3b3;
  }
  
  /* 오른쪽 사이드바 */
  .rightbar {
    width: 300px;
    height: 100vh;
    border-left: 1px solid #ddd;
    padding: 16px;
    background-color: #fff;
  }
  
  /* 게시물 스타일 */
  .post {
    border: 1px solid #ddd;
    height: 750px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #b5b5b5;
  }
  
  .post-image {
    width: 100%;
    border-radius: 8px;
  }
  
  /* 댓글 섹션 */
  .comment-section {
    margin-top: 8px;
  }
  
  /* 좋아요 버튼 */
  .like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
    gap: 15px; /* 아이콘 간격 */
    margin-top: 100px;
    padding: 5px;
    border-top: 1px solid #b1b1b1;
    background-color: rgb(108, 91, 91);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .action-buttons span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .contents {
    margin-bottom: 50px;
  }